.header {
    padding: 20px 0;
    color: #ffffff;
    background-color: rgb(60, 88, 167);
    width: 100%;
    text-align: center;
    border-bottom: 5px solid rgb(100, 182, 144);
    margin-bottom: 10px;
}